.App {
  font-family: sans-serif;
}

.b1 {
  margin: 4px;
  width: 70px;
  background-color: salmon !important;
  border: 0px;
}

.b2 {
  margin: 4px;
  width: 70px;
  background-color: rgb(243, 211, 32) !important;
  border: 0px;
}

.b3 {
  margin: 4px;
  width: 70px;
  background-color: dodgerblue !important;
  border: 0px;
}

.b4 {
  margin: 4px;
  width: 70px;
  background-color: black !important;
  border: 0px;
}

iframe {
  width: 100%;
  border: none;
  height: 618px;
}
